
body {
    font-family: comic sans;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #595959;
    height: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.logo {
    font-size: 30px;
}

/* Button styling */
.menu-toggle {
    position: absolute;
    left: 0;
}

.menu-toggle span {
    display: inline-block;
    padding: 12px 15px;
    line-height: 32px;
    font-size: 32px;
    color: white;
}
  
.menu-toggle span:hover,
.menu-toggle span:focus {
    color: black;
}
  
/*
   Default styles + Mobile first
   Offscreen menu style
*/
.main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
          box-shadow 0.3s ease;
    z-index: 999;
}
  
.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 51px 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: white;
}
  
.main-menu a {
    display: block;
    padding: 12px 15px;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #595959;
}
  
.main-menu li:first-child a {
    border-top: 1px solid #595959;
}
  
.main-menu a:hover,
.main-menu a:focus {
    background: #595959;
    color: white;
    text-decoration: none;
}
  
.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/  
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

.toc {
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    display: none;
}

.toc ul {
    list-style-type: none;
}

.toc ul li {
    padding-bottom: 8px;
}

.toc ul li a {
    font-size: 14px;
}

.container {
    margin: 0 25px;
}

.image-container {
    margin: 80px 20px 20px 0;
}

.image-map {
    width: 100%;
}


.image-war {
    width: 100%;
}


.image-tomb {
    width: 100%;
}

.image-influence {
    width: 100%;
}

.image {
    background-color: white;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-circle {
    border-radius: 50%;
}

#childhood::before,
#ruler-life::before,
#greek-influence::before,
#conquests::before,
#death::before {
    content: '';
    display: block;
    height:      60px;
    margin-top: -60px;
    visibility: hidden;
  }

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .logo {
        font-size: 48px;
    }

    .container {
        margin: 0 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        margin: 0 200px;
    }

    .toc {
        display: block;
    }

    .menu-toggle {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        margin: 0 300px;
    }
}
