
body {
    font-family: comic sans;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #595959;
    font-size: 30px;
    height: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.menu {
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    display: none;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding-bottom: 8px;
}

.menu ul li a {
    font-size: 14px;
}

.container {
    margin: 0 25px;
}

.image-container {
    margin: 80px 20px 20px 0;
}

.image-map {
    width: 100%;
}

.image {
    background-color: white;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-circle {
    border-radius: 50%;
}

#childhood::before,
#ruler-life::before,
#greek-influence::before,
#conquests::before,
#death::before {
    content: '';
    display: block;
    height:      60px;
    margin-top: -60px;
    visibility: hidden;
  }

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .header {
        font-size: 48px;
    }

    .container {
        margin: 0 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        margin: 0 200px;
    }

    .menu {
        display: block;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        margin: 0 300px;
    }
}
